body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ReactTable .-pagination .-btn {
  background: rgb(132, 189, 0);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 2px;
  font-family: Roboto, sans-serif;
}

.ReactTable.-striped .rt-tr.-odd {
  background: rgba(132, 189, 0, 0.03);
}

.ReactTable .select-wrap:after {
  pointer-events: none;
}